.info {
    background-color: rgb(206, 215, 192);
    border-radius: 12px;
}

.field {
    font-size: large;
    font-weight: bold;
}

ion-text {
    font-weight: bold;
}

.Phone {

    white-space: nowrap;
}