.rbutton {
    size: 100px;
    width: 300px;
    height: 70px;
    --background-hover: #FFFFFF;
}

.footer-icons{
    size:48px;
    height: 30px;
};

.image-icons{
    height: 50px;
    width: 90x;
    

}; 

h2 {

    background-color: #FFFFFF;
}
