.rbutton {
    size: 30px;
    width: 100%;
    height: 90%;
    --background-hover: #FFFFFF;
}

.footer-icons{
    size:48px;
    height: 30px;
};

.image-icons{
    height: 50px;
    width: 40x;
    

}; 

h2 {

    background-color: #FFFFFF;
}
